<div class="card shadow-sm h-100 my-2">
    <img class="bd-placeholder-img card-img-top"
    src="{{product.pictureUrl}}"
     width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail"/>

    <div class="card-body">
      <a [routerLink]="['/shop',product.id]"  class="card-text">{{product.name}}</a>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a [routerLink]="['/shop',product.id]"  type="button" class="btn btn-sm btn-outline-secondary">View</a>
          <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-shopping-cart"></i></button>
        </div>
        <small class="text-muted">{{product.price | currency}}</small>
      </div>
    </div>
  </div>