<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container"><a [routerLink]="['/']" class="navbar-brand">
        <img src="assets/images/logo.png" alt="Skinet Commerce">
    </a>
      <div class="d-flex ml-auto">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      </div>
      <div class="collapse navbar-collapse" id="globalNavbar">
   
        <div class="form-inline form-navbar my-2 my-lg-0 order-2">
         
             <span style="font-size: 2.3em;position: relative;">
                <a [routerLink]="['/basket']">
                  <span *ngIf="(basket$ | async) as basket"  class="navbar-tool-label">{{basket.items.length}}</span>
                  <i class="fa fa-shopping-cart"></i></a> 
              </span> 
        </div>
        <ul class="navbar-nav mr-auto order-1">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact:true}">Home</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/shop']" routerLinkActive="active">Shop</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="error">Contact</a></li>
        </ul>

        <ng-container *ngIf="(currentUser$ | async) == null">
          <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/account/login']">Sign in</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/account/register']">Sign up</a></li>
        </ul>
        </ng-container>

        <ng-container *ngIf="(currentUser$ | async)">

     
            <ul class="navbar-nav navbar-align d-none d-lg-flex ml-2 order-3">
              <li class="nav-item dropdown" dropdown>
               
                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" dropdownToggle aria-expanded="false">
                  <span class="text-dark">Welcome {{(currentUser$ | async)?.displayName}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                  <a class="dropdown-item" href="#">
                    <i class="fa fa-user"></i> Profile
                  </a>
                  <a class="dropdown-item" href="#">
                   <i class="fa fa-shopping-cart"></i> View Basket
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fa fa-shopping-cart"></i> View Orders
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">
                   <i class="fa fa-sign-out"></i> Sign out
                  </a>
                </div>
              </li>
            </ul>
          


          <!-- <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
            <li class="nav-item drowdown" dropdown>
              <a class="nav-link drowdown-toggle" dropdownToggle>
                <strong>Welcome {{(currentUser$ | async)?.displayName}}</strong>
              </a>
              <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" href="#">View Basket</a>
                <a class="dropdown-item" href="#">View Orders</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
        </ul> -->
        </ng-container>
       
          <!-- <ul class="navbar-nav d-lg-none">
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/account/login']">Sign in</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/account/register']">Sign up</a></li>
          </ul> -->
                    </div>
    </div>
</nav>